{% if session.get("role") == 1 %}
    {% extends "base.html" %}
{% else %}
    {% extends "base_r.html" %}
{% endif %}

{% block header %}
  <h1>{% block title %}Generación de Orden de Compra{% endblock %}</h1>
{% endblock %}

{% block content %}
<br>
Está a punto de generar la Orden de Compra, con la información contenida en la Preorden.<br>
Esta acción moverá la información hacia la Orden, eliminando el contenido de la preorden e impidiendo la
modificación de los datos: si necesita ingresar más productos, deberá generarse una nueva preorden.
<br><br>
<form action="{{ url_for('orders.generate_order') }}" method="post">
  <table class="table2">
    <tr>
      <td>
        <input type="submit" value="Generar Orden de Compra">
        <input type="reset" value="Cancelar Acción" onclick="window.location.href='{{ url_for('auth.redirectlink') }}';">
      </td>
    </tr>
  </table>
</form>

<br>
<br>
<a href="{{ url_for('auth.redirectlink') }}">Inicio</a>
   
{% endblock %}