{# templates/passengers/_cons_psg_list.html #}
{% if get_list %}

<header>
    
</header>

    <table id="supplierTable" name="supplierTable" class="tablesorter table table-striped table-hover table-curved">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">T° Ident.</th>
                <th scope="col">N° Ident.</th>
                <th scope="col">email</th>
                <th scope="col">Cabina</th>
                <th scope="col">T° Cabina</th>
            </tr>
        </thead>
        <tbody>
             {% for psg in get_list %}
            <tr>
                <td>{{ psg.tx_name }}</td>
                <td>{{ psg.tx_identification_type }}</td>
                <td>{{ psg.nu_identification }}</td>
                <td>{{ psg.email }}</td>
                <td>{{ psg.nu_cabin }}</td>
                <td>{{ psg.tx_cabin_type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Este recorrido no tiene pasajeros asignados.</p>
{% endif %}