{% if session.get("role") == 1 %}
    {% extends "base.html" %}
{% else %}
    {% extends "base_r.html" %}
{% endif %}

{% block header %}
  <h1>{% block title %}Alta de Pasajeros mediante archivo{% endblock %}</h1>
{% endblock %}

{% block content %}



    <form action="{{ url_for('passengers.addr_psngr_ff') }}" method = "post" enctype="multipart/form-data"> 
        <label for="sefi">Seleccione archivo de pasajeros:</label>
        <br>
        <input type="file" name="file" />  
        <input type = "submit" value="Subir Archivo">  
    </form> 



  <a href="{{ url_for('auth.redirectlink') }}">Inicio</a>
{% endblock %}
