{% extends "passengers/base_passenger.html" %}
{% block title %}Menú Pasajero{% endblock %}
{% block content %}
{% set consumption_url = url_for('auth_passengers.consumption') %}
{% set menu_url = url_for('auth_passengers.open_information', fto=1) %}
{% set activities_url = url_for('auth_passengers.open_information', fto=2) %}
{% set linktopdf_url = url_for('auth_passengers.generar_lista_precios', idc=[11, 13, 14]) %}
{% set linktotrip_url = 'https://www.antarpplyexpeditions.com/expeditions/classic-south-georgia' %}
{% set survey_base_url = 'https://forms.microsoft.com/r/06cxwuc0vL?embed=true' %}
{% set passenger_id = session.passenger_id | default('') %}
{% set ID_PREGUNTA_MSFORMS = 'r748e9a53091e4b38b898a1d70422fd7e' %} 
{% set survey_url = survey_base_url + '&' + ID_PREGUNTA_MSFORMS + '=' + passenger_id|string %}

<div class="flex-col p-4 h-screen">
  <div class="flex justify-end mb-2">
    <a href="{{ url_for('auth_passengers.logout') }}" class="bg-red-500 text-white px-1 py-0.5 rounded text-xs hover:bg-red-600">Logout</a>
  </div>
  <h1 class="text-2xl font-bold mb-4">Welcome {{ username }} to the Passenger Menu</h1>
  {#
  <div class="grid grid-cols-2 gap-4 mb-4">
    <div class="card bg-white p-4 rounded-lg shadow cursor-pointer" onclick="window.location.href='{{ bar_url }}'">
      <span class="text-2xl">🍺</span>
      <h3 class="text-lg font-semibold">Bar</h3>
    </div>
    <div class="card bg-white p-4 rounded-lg shadow cursor-pointer" onclick="window.location.href='{{ internet_url }}'">
      <span class="text-2xl">🌐</span>
      <h3 class="text-lg font-semibold">Internet</h3>
    </div>
    <div class="card bg-white p-4 rounded-lg shadow cursor-pointer" onclick="window.location.href='{{ ropa_url }}'">
      <span class="text-2xl">👗</span>
      <h3 class="text-lg font-semibold">Ropa</h3>
    </div>
    <div class="card bg-white p-4 rounded-lg shadow cursor-pointer" onclick="window.location.href='{{ merch_url }}'">
      <span class="text-2xl">🎁</span>
      <h3 class="text-lg font-semibold">Merchandising</h3>
    </div>
  </div>
  #}
  <style>
  .card {
    margin-bottom: 10px; /* Ajustar el valor como sea necesario */
  }
  .hidden {
      display: none;
  }
  </style>
  <div class="card bg-white p-4 rounded-lg shadow cursor-pointer" onclick="window.location.href='{{ consumption_url }}'">
    <span class="text-2xl">📊</span>
    <h3 class="text-lg font-semibold">Passenger Spending Overview</h3>
  </div>
  <div class="card bg-white p-4 rounded-lg shadow cursor-pointer" id="prices-card">
    <span class="text-2xl">💰</span>
    <h3 class="text-lg font-semibold">Our Prices</h3>
  </div>
  <div id="prices-links" class="flex flex-col gap-2 p-4 hidden">
    <a href="{{ url_for('auth_passengers.generar_lista_precios', ids=93) }}" class="bg-blue-500 text-white px-4 py-2 rounded-lg text-center hover:bg-blue-600 transition">Internet Service</a>
    <a href="{{ url_for('auth_passengers.generar_lista_precios', ids=97) }}" class="bg-blue-500 text-white px-4 py-2 rounded-lg text-center hover:bg-blue-600 transition">Laundry Service</a>
    <a href="{{ url_for('auth_passengers.generar_lista_precios', idc=1) }}" class="bg-blue-500 text-white px-4 py-2 rounded-lg text-center hover:bg-blue-600 transition">Bar & Drinks</a>
    <a href="{{ url_for('auth_passengers.generar_lista_precios', idc=10) }}" class="bg-blue-500 text-white px-4 py-2 rounded-lg text-center hover:bg-blue-600 transition">Clothes</a>
    <a href="{{ url_for('auth_passengers.generar_lista_precios', idc=11) }}" class="bg-blue-500 text-white px-4 py-2 rounded-lg text-center hover:bg-blue-600 transition">Books</a>
    <a href="{{ url_for('auth_passengers.generar_lista_precios', idc='13,14') }}" class="bg-blue-500 text-white px-4 py-2 rounded-lg text-center hover:bg-blue-600 transition">Merchandising</a>
  </div>
  <div class="card bg-white p-4 rounded-lg shadow cursor-pointer" onclick="window.location.href='https://www.antarpplyexpeditions.com/vessel/the-ushuaia'">
    <span class="text-2xl">🚢</span>
    <h3 class="text-lg font-semibold">The Ushuaia</h3>
  </div>
  <div class="card bg-white p-4 rounded-lg shadow cursor-pointer" onclick="window.location.href='https://www.antarpplyexpeditions.com/resources?section=travel-info'">
    <span class="text-2xl">👤</span>
    <h3 class="text-lg font-semibold">Passenger Info</h3>
  </div>
  <div class="card bg-white p-4 rounded-lg shadow cursor-pointer" onclick="window.location.href='{{ menu_url }}'">
    <span class="text-2xl">🍲</span>
    <h3 class="text-lg font-semibold">Today's Menu</h3>
  </div>
  <div class="card bg-white p-4 rounded-lg shadow cursor-pointer" onclick="window.location.href='{{ activities_url }}'">
    <span class="text-2xl">📋</span>
    <h3 class="text-lg font-semibold">Activities</h3>
  </div>
  <div class="card bg-white p-4 rounded-lg shadow cursor-pointer" onclick="window.location.href='{{ survey_url }}'">
    <span class="text-2xl">📝</span>
    <h3 class="text-lg font-semibold">Survey</h3>
  </div>
  {# Tarjeta del Survey anterior deshabilitada
  <div class="card bg-white p-4 rounded-lg shadow disabled" id="survey-card">
    <span class="text-2xl">📝</span>
    <h3 class="text-lg font-semibold">Survey</h3>
  </div>
  #}
  <div class="card bg-white p-4 rounded-lg shadow cursor-pointer" onclick="window.location.href='{{ linktotrip_url }}'">
    <span class="text-2xl">🗺</span>
    <h3 class="text-lg font-semibold">Our Trip</h3>
  </div>
</div>
{# MODAL DE DIÁLOGO POR ENCUESTA NO DISPONIBLE - FUERA del div ppal para que se posicione correctamente #}
<div id="survey-modal" class="modal-overlay hidden">
  <div class="bg-white p-6 rounded-lg shadow-xl max-w-sm w-full text-center">
    <h3 class="text-xl font-semibold mb-4 text-red-600">Not Available Yet</h3>
    <p class="mb-6 text-gray-700">Available 48hs before arrive</p>
    <button id="close-modal-btn" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">Close</button>
  </div>
</div>

<script>
    document.getElementById('prices-card').addEventListener('click', function() {
        var links = document.getElementById('prices-links');
        links.classList.toggle('hidden');
    });

    // 1. Obtener referencias al modal y sus elementos
    const surveyCard = document.getElementById('survey-card');
    const surveyModal = document.getElementById('survey-modal');
    const closeModalBtn = document.getElementById('close-modal-btn');

    // 2. Función para mostrar el modal al hacer clic en la tarjeta
    surveyCard.addEventListener('click', function(event) {
        event.preventDefault(); 
        event.stopPropagation();
        
        // Muestra el modal eliminando la clase 'hidden'
        surveyModal.classList.remove('hidden');
    });

    // 3. Función para ocultar el modal al hacer clic en el botón "Close"
    closeModalBtn.addEventListener('click', function() {
        surveyModal.classList.add('hidden');
    });

</script>
{% endblock %}
