{% if session.get("role") == 1 %}
    {% extends "base.html" %}
{% else %}
    {% extends "base_r.html" %}
{% endif %}

{% block header %}
  <h1>{% block title %}Baja de Producto{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="tx_dmp">Seleccione producto a dar de baja</label>
    Antes de realizar esta acción, verifique que no haya existencias en ningún depósito!!!<br>
    Presione la tecla CTRL para seleccionar múltiples productos
    <br><br>
    <select size="15" name="id_dmp" multiple>
      <option value="" style="width: 200px;">Seleccionar productos</option>
      {% for prod in prods %}
        <option value="{{prod.id_product}}" style="width: 400px;">{{prod.desc_product}}</option>
        {% if not loop.last %}
        {% endif %}
      {% endfor %}
    </select>
    <br>
    <input type="submit" value="Desactivar Productos">
  </form>
  <br>
  <a href="{{ url_for('auth.redirectlink') }}">Inicio</a>
{% endblock %}
