{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Alta de Almacén{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="tx_wh">Nombre del almacén</label>
    <input name="tx_wh" id="tx_wh" required style="width: 200px;">
    <label for="desc_wh">Descripción/ubicación del almacén</label>
    <textarea rows = "5" cols = "45" name="desc_wh" id="desc_wh" required></textarea>
    <input type="submit" value="Ingresar Almacén">
  </form>
  
  <a href="{{ url_for('auth.redirectlink') }}">Inicio</a>
{% endblock %}
