{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Precios de Venta a Pasajeros{% endblock %}</h1>
{% endblock %}

{% block content %}
  <br>
  <form method="post" action="{{ url_for('config_vs.add_price_sp') }}">
    <label for="tx_aprp">Seleccione producto para ingresar/actualizar precio</label>
    <select name="id_aprp">
      <option value="" style="width: 200px;">Seleccionar producto</option>
      {% for prod in prods_sp %}
        <option name="id_aprp" value="{{prod.id_product}}" style="width: 200px;">{{prod.desc_product}}</option>
      {% endfor %}
    </select>
    <br>
    <label for="nu_usd_pc">Precio en USD (separador decimal: punto)</label>
    <input name="nu_usd_price" id="nu_usd_price" required style="width: 100px;"> 
    <br>
    <input type="submit" value="Actualizar Precio">
  </form>
  <a href="{{ url_for('auth.redirectlink') }}">Inicio</a>
{% endblock %}
