{# templates/consumption/_order_summary.html #}

<h3>Resumen de la Orden</h3> 

{% if message %}
    <p>{{ message }}</p>
{% else %}
    <form id="order-processing-form" action="{{ url_for('consumption.process_order') }}" method="post" >
        <input type="hidden" name="passenger_id" value="{{ passenger_id }}">
        {% if order_items %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Total Ítem</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order_items %}
                    <tr>
                        <td>{{ item.id_product }} - {{ item.producto }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>${{ "%.2f"|format(item.unit_price) }}</td>
                        <td>${{ "%.2f"|format(item.item_total) }}</td>
                        <input type="hidden" name="ordered_pid" value="{{ item.id_product }}">
                        <input type="hidden" name="ordered_qty" value="{{ item.quantity }}">
                        <input type="hidden" name="ordered_upr" value="{{ item.unit_price }}">
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p><strong>Valor Total de la Orden: ${{ "%.2f"|format(total_order_value) }}</strong></p>
            <button type="submit" class="btn btn-success" style="margin-top: 20px; width: 150px;">
                Generar Compra e Imprimir Ticket
            </button>
        {% else %}
            <p>No hay productos seleccionados para mostrar en el resumen.</p>
        {% endif %}
        <input type="hidden" name="tbn" value="{{ tbn }}">
    </form>
{% endif %}