{% if session.get("role") == 1 %}
    {% extends "base.html" %}
{% else %}
    {% extends "base_r.html" %}
{% endif %}

{% block header %}
  <h1>{% block title %}Ingreso de Archivo de Menú{% endblock %}</h1>
{% endblock %}

{% block content %}

    <form action="{{ url_for('consumption.add_information', ft=1) }}" method = "post" enctype="multipart/form-data"> 
        <label for="sefi">Seleccione archivo de menú:</label>
        <br>
        <input type="file" name="file" />  
        <input type = "submit" value="Subir Archivo">  
    </form> 

  <a href="{{ url_for('auth.redirectlink') }}">Inicio</a>
{% endblock %}
