{% extends 'base_r.html' %}

{% block header %}
  <h1>{% block title %}Servicio de Internet{% endblock %}</h1>
  {% if g.user %}
  
  {% endif %}
{% endblock %}

{% block content %}
  <form action="{{ url_for('consumption.enter_shop') }}" method="post">
    <label for="planes">Planes de Internet disponibles:</label>
    <select name="id_iplan">
      <option value="" style="width: 200px;">Seleccionar plan</option>
      {% for plan in srvc %}
        <option name="id_iplan" value="{{ plan.id_product,plan.nu_price_usd }}" style="width: 200px;">{{plan.producto}}</option>
      {% endfor %}
    </select>
    <br>

    <label for="cabin">Cabina:</label>
    <select id="cabin" name="cabin"
            hx-post="{{ url_for('consumption.get_passengers_htmx') }}"
            hx-trigger="change"
            hx-target="#passenger-container"
            hx-swap="innerHTML"
            hx-vals='{"show_quantity": "true"}'>
        <option value="">Seleccionar cabina</option>
        {% for cabin in cabs %}
            <option name="id_cabin" value="{{ cabin.id_cabin }}">{{ cabin.tx_cabin_desc }}</option>
        {% endfor %}
    </select>
    <br>

    <label for="passenger">Pasajero:</label>
    <div id="passenger-container">
        <select id="passenger" name="passenger" disabled>
          <option name="passenger" value="">Seleccionar Pasajero</option>
        </select>
        <label for="passenger">Cantidad:</label>
        <input type="number" id="cantidad" name="qtty" value="" required style="width: 100px;" disabled>
    </div>
    <br>
    <br>
    <input type="submit" value="Confirmar selección y asignar plan">
  </form>  

  <a href="{{ url_for('auth.redirectlink') }}">Inicio</a>

  <script>
    // Usa delegación de eventos en el contenedor de pasajeros
    document.getElementById('passenger-container').addEventListener('change', function(event) {
        // Verifica si el evento fue disparado por el select de pasajero
        if (event.target.id === 'passenger') {
            const cantidadInput = document.getElementById('cantidad');
            
            // Habilita/deshabilita el campo de cantidad según la selección
            if (event.target.value !== "") {
                cantidadInput.disabled = false;
            } else {
                cantidadInput.disabled = true;
            }
        }
    });
  </script>

{% endblock %}