{% extends 'base_r.html' %}

{% block header %}
  <h1>{% block title %}Reimpresión de Tickets{% endblock %}</h1>
  {% if g.user %}
  
  {% endif %}
{% endblock %}

{% block content %}
<form method="post" >
    <label>Detalle de los tickets emitidos:</label>
    <table width="65%">
        <thead>
            <tr>
                <th>Ticket</th>
                <th>Fecha</th>
                <th>Pasajero</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
          {% for tkt in tickets %}
            <tr>
                <td><a href="{{ url_for('print_module.print_ticket', id_ticket=tkt.id_ticket, origin='reprint') }}">{{tkt.id_ticket}}</a></td>
                <td>{{tkt.dt_consumption}}</td>
                <td>{{tkt.pasajero}}</td>
                <td>{{"%.2f"|format(tkt.full_consumption)}}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    <br>
</form>

<a href="{{ url_for('auth.redirectlink') }}">Inicio</a>

{% endblock %}