{# templates/consumption/_cons_passenger.html #}
{% if get_cons %}
    <h3>Detalle de Consumos</h3>
    <table>
        <thead>
            <tr>
                <th>Ticket</th>
                <th>Fecha</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in get_cons %}
            <tr>
                <td>{{ item.id_ticket }}</td>
                <td>{{ item.fc }}</td>
                <td>{{ item.producto }}</td>
                <td>{{ item.nu_quantity }}</td>
                <td>{{ "%.2f"|format(item.pc_unity) }}</td>
                <td>{{ "%.2f"|format(item.pc_total) }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align: right;"><strong>Total General:</strong></td>
                <td><strong>{{ "%.2f"|format(total_general) }}</strong></td>
            </tr>
        </tfoot>
    </table>
{% else %}
    <p>Este pasajero no tiene consumos registrados.</p>
{% endif %}