<select id="passenger" name="passenger"
    {% if not passengers %}disabled{% endif %}
    hx-get="{{ url_for('consumption.get_products_htmx') }}"
    hx-trigger="change"
    hx-target="#product-container"
    hx-swap="innerHTML"
    hx-include="#hidden_id_category, [name='tbn']"
    required>
    <option value="">Seleccionar Pasajero</option>
        {% for pasng in passengers %}
            <option value="{{ pasng.id_passenger }}">{{ pasng.passenger_name }}</option>
            {% else %}
            <option value="" disabled>No hay pasajeros en esta cabina</option>
        {% endfor %}
</select>
<input type="hidden" id="hidden_id_category" name="id_cat" value="{{ id_category|join(',') }}">
<input type="hidden" name="tbn" value="{{ tbn }}">
{% if show_quantity and passengers %}
<label for="cantidad">Cantidad:</label>
<input type="number" id="cantidad" name="qtty" value="" required style="width: 100px;">
{% endif %}