<div class="inline-container">
    <select id="passenger" name="passenger"
            {% if not passengers %}disabled{% endif %}
            required>
        <option value="">Seleccionar Pasajero</option>
        {% for pasng in passengers %}
            <option value="{{ pasng.id_passenger }}">{{ pasng.passenger_name }}</option>
        {% else %}
            <option value="" disabled>No hay pasajeros en esta cabina</option>
        {% endfor %}
    </select>

    <label for="cantidad">Cantidad:</label>
    <input type="number"
        id="cantidad"
        name="qtty"
        value=""
        required
        style="width: 100px;"
        disabled>
</div>
