{% if session.get("role") == 1 %}
    {% extends "base.html" %}
{% else %}
    {% extends "base_r.html" %}
{% endif %}

{% block header %}
  <h1>{% block title %}Alta de Tragos{% endblock %}</h1>
{% endblock %}

{% block content %}
  <br>
  <form action="{{ url_for('consumption.add_drink') }}" method="post">
    <div class="contenedor-flex">
      <label for="n_dr" style="width: 155px;">Nombre del Trago:</label>
      <input name="n_dr" style="width: 250px;">
    </div>
    <br>
    <div class="contenedor-flex">
      <label for="tx_dpr1">Seleccione Ingrediente 1</label>
      <select name="id_dpr1">
        <option value="" style="width: 100px;">Seleccionar producto</option>
        {% for prod1 in ing1 %}
          <option name="id_dpr1" value="{{prod1.id_product}}" style="width: 200px;">{{prod1.desc_product}}</option>
        {% endfor %}
      </select>
      <label for="q_i1">Cantidad: </label>
      <input name="q_i1" style="width: 50px;">
    </div>
    <br>
    <div class="contenedor-flex">
      <label for="tx_dpr2">Seleccione Ingrediente 2</label>
      <select name="id_dpr2">
        <option value="" style="width: 100px;">Seleccionar producto</option>
        {% for prod2 in ing2 %}
          <option name="id_dpr2" value="{{prod2.id_product}}" style="width: 200px;">{{prod2.desc_product}}</option>
        {% endfor %}
      </select>
      <label for="q_i2">Cantidad: </label>
      <input name="q_i2" style="width: 50px;">
    </div>
    <br>
    <div class="contenedor-flex">
      <label for="tx_dpr3">Seleccione Ingrediente 3</label>
      <select name="id_dpr3">
        <option value="" style="width: 200px;">Seleccionar producto</option>
        {% for prod3 in ing3 %}
          <option name="id_dpr3" value="{{prod3.id_product}}" style="width: 200px;">{{prod3.desc_product}}</option>
        {% endfor %}
      </select>
      <label for="q_i3">Cantidad: </label>
      <input name="q_i3" style="width: 50px;">
    </div>
    <br>
    <div class="contenedor-flex">
      <label for="tx_dpr4">Seleccione Ingrediente 4</label>
      <select name="id_dpr4">
        <option vale="" style="width: 200px;">Seleccionar producto</option>
        {% for prod4 in ing4 %}
          <option name="id_dpr4" value="{{prod4.id_product}}" style="width: 200px;">{{prod4.desc_product}}</option>
        {% endfor %}
      </select>
      <label for="q_i4">Cantidad: </label>
      <input name="q_i4" style="width: 50px;">
    </div>
    <br>
    <label for="nu_pr">Precio en U$D</label>
    <input name="nu_pr" id="nu_pe" required style="width: 100px;">
    <br>
    <input type="submit" value="Ingresar nuevo Trago">
  </form>
  <a href="{{ url_for('auth.redirectlink') }}">Inicio</a>
{% endblock %}
