{% extends 'base_r.html' %}

{% block header %}
  <h1>{% block title %}Prods. & Servs. de Merchandising{% endblock %}</h1>
  {% if g.user %}
  
  {% endif %}
{% endblock %}

{% block content %}

    <form hx-trigger="submit"
    hx-target="#order-summary-container"
    hx-post="{{ url_for('consumption.process_product_selection') }}"
    hx-swap="innerHTML">
        <input type="hidden" name="tbn" value="{{ tbn }}">
        <label for="cabin">Cabina:</label>
        <select id="cabin" name="cabin"
                hx-post="{{ url_for('consumption.get_passengers_htmx') }}"
                hx-trigger="change"
                hx-target="#passenger-container"
                hx-swap="innerHTML"
                hx-vals='{"show_quantity": "false", "id_cat": "{{ id_category }}"}'>
            <option value="">Seleccionar cabina</option>
            {% for cabin in cabs %}
                <option name="id_cabin" value="{{ cabin.id_cabin }}">{{ cabin.tx_cabin_desc }}</option>
            {% endfor %}
        </select>

        <label for="passenger">Pasajero:</label>
            <div id="passenger-container">
                <select id="passenger" name="passenger" disabled>
                    <option value="">Seleccionar Pasajero</option>
                </select>
            </div>

        <label for="product_list">Listado de productos:</label>
            <div id="product-container">
                <p>Seleccionar Pasajero habilitará la vista de los productos.</p>
            </div>
        
        <button type="button" class="confirm-selection-button" style="margin-top: 15px; width: 150px;">
            Confirmar Selección
        </button>
    </form>
    
    <hr>
    <div id="order-summary-container">
        <h3>Resumen de Selección</h3>
        <p>Aquí se verá el resumen de la selección de productos.</p>
    </div>
    <hr>
    
<a href="{{ url_for('auth.redirectlink') }}">Inicio</a>

{# --- Script de JavaScript para habilitar/deshabilitar cantidad --- #}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.body.addEventListener('change', function(event) {
            if (event.target.matches('input[type="checkbox"][name="selected_products"]')) {
                const productId = event.target.value;
                const quantityInput = document.querySelector(`input[name="quantity_${productId}"]`);
                if (quantityInput) {
                    quantityInput.disabled = !event.target.checked;
                    if (!event.target.checked) {
                        quantityInput.value = 0;
                    } else if (quantityInput.value === '0' || quantityInput.value === '') {
                        quantityInput.value = 1;
                    }
                }
            }
        });
    });
</script>

{% endblock %}