{% if session.get("role") == 1 %}
    {% extends "base.html" %}
{% else %}
    {% extends "base_r.html" %}
{% endif %}

{% block header %}
  <h1>{% block title %}Alta de Pasajero{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" action="{{ url_for('passengers.addr_psngr') }}">
    <div class="input-container">
        <label for="dapa">Datos personales del pasajero:</label>
        <br><br>
        <label for="napa">Nombre:</label>
            <input name="napa" required style="width: 180px;"> * 
            <label for="surpa">Apellido:</label>
        <input name="surpa" required style="width: 180px;"> *
        <br>
        <label for="typid">Tipo de identificación:</label>
            <input name="typid" required style="width: 120px;"> * 
        <label for="nuid">Nro.:</label>
            <input name="nuid" required style="width: 120px;"> *
        <br>
        <label for="dateb">Fecha de Nacimiento:</label>
            <input type="date" name="dateb" value="" min="1925-01-01" max="2024-12-31" style="width: 120px;"/>
        <br>
        <label for="maila">Email:</label>
            <input name="maila" required style="width: 215px;"> *
        <br>
        <label for="tel1">Teléfono 1: </label>
            <input name="tel1" required style="width: 185px;"> *
        <label for="tel2">Teléfono 2: </label>
            <input name="tel2" style="width: 185px;">
        <hr>
        <label for="adom">Datos del domicilio del pasajero:</label>
        <br><br>
        <label for="nast">Calle:</label>
            <input name="nast" required style="width: 300px;"> *
        <label for="nust">Nro.:</label>
            <input name="nust" required style="width: 50px;"> *
        <!-- <label for="flst">Piso/Dpto.:</label>
            <input name="identtrip" required style="width: 50px;">
        -->
        <br>
        <label for="city">Ciudad: </label>
            <input name="city" required style="width: 255px;">
        <label for="czip">Cod. Postal: </label>
            <input name="czip" required style="width: 50px;">
        <br>
        <label for="state">Provincia/Estado: </label>
            <input name="state" required style="width: 185px;">
        <br>
        <label for="country">País: </label>
            <input name="country" required style="width: 270px;">
        <hr>
        <label for="nu_pe">Asignaciones (trip + cabina):</label>
        <br><br>
        <label for="lbl_trip">Seleccione ruta</label>
            <select name="sel_trip" class="desplegable">
            <option value="" style="width: 300px;">Seleccionar ruta</option> 
            {% for rec in trips %}
                <option name="sel_trip" value="{{rec.id_campaign}}" style="width: 300px;">{{rec.itinerary}}</option>
            {% endfor %}    
            </select> * 
        <label for="lbl_cab">Seleccione cabina</label>
            <select name="sel_cab" class="desplegable">
            <option value="">Seleccionar cabina</option>
            {% for cab in cabins %}
                <option name="sel_cab" value="{{cab.id_cabin}}|{{cab.nu_cabin}}">{{ cab.cabin }} (Disponibles: {{ cab.available }}) </option>
            {% endfor %}
            </select> *
        <br>
        <hr>
    </div>
    <br>
    <font size="2">Los campos señalados con "*" son obligatorios</font>
    <br><br>
    <input type="submit" value="Alta de pasajero">
  </form>
  <a href="{{ url_for('auth.redirectlink') }}">Inicio</a>
{% endblock %}
