{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Armado de Pedidos: Preorden{% endblock %}</h1>
{% endblock %}

{% block content %}
Mantener presionada la tecla 'Ctrl' para seleccionar más de 1 categoría

<div align="center">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

  <form action="{{ url_for('orders.ordering_sp') }}" method="post">
    <label for="tx_amp">Seleccionar Categoría/s</label>
     <select name="id_cate" size="20" multiple>
      <option value="" style="width: 300px;">Seleccionar categoría</option>
      {% for cate in cates %}
        <option value="{{cate.id_category}}" style="width: 300px;">{{cate.tx_category}}</option>
        {% if not loop.last %}
        {% endif %}
      {% endfor %}
    </select>
    <br>
    <input type="submit" value="Enviar">
  </form>

   <a href="{{ url_for('auth.redirectlink') }}">Inicio</a>
{% endblock %}
