{% if session.get("role") == 1 %}
    {% extends "base.html" %}
{% else %}
    {% extends "base_r.html" %}
{% endif %}

{% block header %}
  <h1>{% block title %}Pedidos:{% endblock %}</h1>
{% endblock %}

{% block content %}

<br>
{% for num in numor %}
  El nro. de preorden posible es: {{num.mxm}}
{% endfor %}

<br><br>
<table>
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Producto</th>
      <th scope="col">Cant. Requerida</th>
    </tr>
  </thead>
  <tbody>
    {% for product in content %}
    <tr>
      <td>{{product.id_prod}}</td>
      <td>{{product.tx_prod}}</td>
      <td>{{product.nuq}}</td>
    </tr>
    {% if not loop.last %}
    {% endif %}
    {% endfor %}
    </tbody>
    </table>
<br>
<a href="{{ url_for('orders.ordering_sc') }}">Ingresar más productos</a>
<br>
<br>
<a href="{{ url_for('auth.redirectlink') }}">Inicio</a>
   
{% endblock %}