{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Selección de Productos a eliminar {% endblock %}</h1>
{% endblock %}

{% block content %}
  <form action="{{ url_for('orders.ax_remove_to_order') }}" method="post">
    Seleccione los productos, haciendo clic en la casilla del costado derecho del mismo.<br>
    <br>

    <label for="tx_amp">Seleccione productos a eliminar</label>
    <table class="requesting">
      <body>
        <tr>
          <td>Cod.</td>
          <td>Producto</td>
          <td>Cantidad</td>
          <td>Sel.</td>
        </tr>
         {% for prod in to_del %}
        <tr>
              <input type=hidden name="id_prod" value="{{prod.id_prod}}">
            <td name="id_prodv" style="width: 20px;">{{prod.id_prod}}</td>
              <input type=hidden name="nm_prod" value="{{prod.tx_prod}}">
            <td name="nm_prodv" style="width: 650px;">{{prod.tx_prod}}</td>
              <input type=hidden name="q_prods" value="{{prod.tx_prod}}">
            <td name="q_prodsv" style="width: 80px;">{{prod.nuq}}</td>
            <td><input type="checkbox" name="checkout" style="width: 20px;" value="{{prod.id_to}}"></td>
        </tr>
          {% if not loop.last %}
          {% endif %}
          {% endfor %}
      </body>
    </table>
    <div align="center">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <br>
    <input type="submit" value="Eliminar productos del pedido">
  </form>
  
  <a href="{{ url_for('auth.redirectlink') }}">Inicio</a>
{% endblock %}
