{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Reversión Orden de Compra{% endblock %}</h1>
{% endblock %}

{% block content %}
<br>
Está a punto de revertir el cierre de la última Orden de Compra generada, volviendo al estado de Preorden.<br>
Esta acción generará la apertura de una nueva preorden con el contenido que anteriormente tenía, la cuál estará
disponible para ingresar, modificar o eliminar productos. Al finalizar, deberán seguirse los pasos normales de una 
preorden.
<br><br>
<form action="{{ url_for('orders.revert_order') }}" method="post">
  <table class="table2">
    <tr>
      <td>
        <input type="submit" value="Revertir Cierre Orden de Compra">
        <input type="reset" value="Cancelar Acción" onclick="window.location.href='{{ url_for('auth.redirectlink') }}';">
      </td>
    </tr>
  </table>
</form>

<br>
<br>
<a href="{{ url_for('auth.redirectlink') }}">Inicio</a>
   
{% endblock %}