{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Modificación de Usuario{% endblock %}</h1>
{% endblock %}

{% block content %}
<br>
Complete la información a modificar.
  <form action="{{ url_for('auth.mod_user') }}" method="post">
    {% for sel in selus %}
    <label for="tx_nnu">Nuevo nombre de usuario (nickname)</label>
    <input name="tx_nnu" required style="width: 200px;" value = {{sel.tx_mail}}>
    <label for="tx_nnn">Nuevo nombre de usuario (real)</label>
    <input name="tx_nnn" required style="width: 200px;" value = "{{sel.tx_name}}" >
    <label for="tx_npsw">Nueva password (deberá actualizarse ante cualquier cambio)</label>
    <input name="tx_npsw" type="password" style="width: 200px;" required>
      <input name="ids" type="hidden" value = "{{sel.id_user}}">
    <label for="sel_rol">Nuevo rol (de corresponder)</label>
    <select name="sel_rol">
      <option value="" style="width: 200px;">Seleccionar Rol</option>
      {% for rol in roles %}
        <option name="sel_rol" value="{{rol.id_role}}" style="width: 80px;">{{rol.tx_desc_role}}</option>
      {% endfor %}
    </select>
    <br>
    <input type="submit" value="Modificar">
    {% endfor %}
  </form>

<a href="{{ url_for('auth.redirectlink') }}">Inicio</a>
{% endblock %}
