{% if session.get("role") == 1 %}
    {% extends "base.html" %}
{% else %}
    {% extends "base_r.html" %}
{% endif %}

{% block header %}
  <h1>{% block title %}Panel de Control{% endblock %}</h1>

  {% if g.user %}
  {% endif %}
  
{% endblock %}

{% block content %}


  <b>Manejo de Inventario</b><br>
    <a class ="action" href="{{ url_for('stock.select_oc') }}" style="margin-right: 10px;">Recepción Pedidos (Selección Ingreso + Cierre OC)</a>
    <br>
    <a class ="action" href="{{ url_for('stock.add_massive_product') }}" style="margin-right: 10px;">Entradas Manuales</a>
    <br>
    <a class ="action" href="{{ url_for('stock.out_product') }}" style="margin-right: 10px;">Salidas Manuales por eventualidades</a>
    <br>
    <a class ="action" href="{{ url_for('stock.available_ptt') }}" style="margin-right: 10px;">Movimientos entre Almacenes</a>
    <br>
    <a class ="action" href="{{ url_for('stock.prodsexist') }}" style="margin-right: 10px;">Disponibilidad</a>
    <br>
    <a class="action" href="{{ url_for('reports.prodstock', id_wh=1) }}" style="margin-right: 10px;"> Listado/Control de Stock (No Bar)</a>
    <a class ="action" href="{{ url_for('reports.export_lc', id_wh=1) }}">Descargar</a>
    <br>
    <a class="action" href="{{ url_for('reports.prodstock', id_wh=12) }}" style="margin-right: 10px;"> Listado/Control de Stock (Bar)</a>
    <a class ="action" href="{{ url_for('reports.export_lc', id_wh=12) }}">Descargar</a>
    <!--<br>
    Listado/Control de Stock (Total)   Descargar
    <a class ="action" href="{{ url_for('reports.export_lc', id_wh=12) }}">Descargar</a> -->
    <br>
    <a class="action" href="{{ url_for('reports.prodstockr') }}" style="margin-right: 10px;"> Control de Stock/Punto de Reposición</a>
    <a class ="action" href="{{ url_for('reports.export_pr') }}">Descargar</a>
    <br>
    <a class ="action" href="{{ url_for('stock.export_we') }}">Stock por Almacén (Descargar)</a>
    <br>
    <a class ="action" href="{{ url_for('stock.export_wee') }}">Stock a Vencer en los próximos 30 días (Descargar)</a>
    <br>
    <a class ="action" href="{{ url_for('reports.outoforder') }}">Diferencias OC/Recibido</a>
    <br>
    <a class ="action" href="{{ url_for('reports.consumption_dates') }}"">Consumos</a>
    <br>
    <a class ="action" href="{{ url_for('reports.prodstrf') }}"">Intento Fallido de transferencia</a>
  <br>

  <!-- 
  <a class ="action" href="{{ url_for('config_vs.tda') }}" style="margin-right: 10px;" target="_blank"> Guía de Uso </a>
  -->

  <br>
  {% endblock %}
  <br>