{% if session.get("role") == 1 %}
    {% extends "base.html" %}
{% else %}
    {% extends "base_r.html" %}
{% endif %}

{% block header %}
  <h1>{% block title %}Panel de Control{% endblock %}</h1>

  {% if g.user %}
  {% endif %}
  
{% endblock %}

{% block content %}


  <b>Gestión de Productos</b><br>
    <a class ="action" href="{{ url_for('stock.listadd_prods') }}" style="margin-right: 10px;">Altas</a>
    <br>
    Bajas: 
    <a class ="action" href="{{ url_for('stock.del_sp') }}?v=1.1" style="margin-right: 10px;">Individual</a> 
    <a class ="action" href="{{ url_for('stock.del_mp') }}?v=1.1" style="margin-right: 10px;">Múltiple</a>
    <!--<br>
    Modificaciones -->
    <br>
    <a class ="action" href="{{ url_for('orders.ordering_sc') }}?v=1.1" style="margin-right: 10px;"> Generar Preorden </a>
    <br>
    <a class ="action" href="{{ url_for('orders.sel_upd_order') }}" style="margin-right: 10px;">Modificar Preorden</a>
    <br>
    <!--
    <a class ="action" href="{{ url_for('orders.sel_remove_to_order') }}" style="margin-right: 10px;">Eliminar Productos Preorden</a>
    <br>
    -->
    <a class ="action" href="{{ url_for('orders.view_order') }}" style="margin-right: 10px;">Visualizar Preorden</a>
    <br>
    <a class = "action" href="{{ url_for('orders.go_close_preorder') }}">Cerrar Preorden</a>
    <br>
    <a class = "action" href="{{ url_for('orders.rev_close_preorder') }}">Revertir Cierre de Preorden</a>
    <br>
    <a class = "action" href="{{ url_for('orders.sel_preorder') }}">Clonación órdenes anteriores</a>
  <br>

  <!-- 
  <a class ="action" href="{{ url_for('config_vs.tda') }}" style="margin-right: 10px;" target="_blank"> Guía de Uso </a>
  -->

  <br>
  {% endblock %}
  <br>