{% if session.get("role") == 1 %}
    {% extends "base.html" %}
{% else %}
    {% extends "base_r.html" %}
{% endif %}

{% block header %}
  <h1>{% block title %}Panel de Control{% endblock %}</h1>

  {% if g.user %}
  {% endif %}
  
{% endblock %}

{% block content %}

  <b>Gestión de Ventas</b><br>
    <a class ="action" href="{{ url_for('config_vs.sp_select') }}" style="margin-right: 10px;">Alta/Modificación Precios Pto. de Venta</a>
  <br>
    <a class ="action" href="{{ url_for('consumption.drink_ing') }}" style="margin-right: 10px;">Alta de tragos</a>
  <br>
    Modificación de tragos
  <br>
    <a class="action" href="{{ url_for('reports.prods_sp') }}" style="margin-right: 10px;"> Listado Precios en Punto de Venta</a>
    <a class ="action" href="{{ url_for('reports.export_list_sp') }}">Descargar</a>
  <br>
    <a class ="action" href="{{ url_for('reports.sales_actual') }}" style="margin-right: 10px;">Ventas del Recorrido Actual</a>
  <br>
  <br>
  {% endblock %}
  <br>