{% if session.get("role") == 1 %}
    {% extends "base.html" %}
{% else %}
    {% extends "base_r.html" %}
{% endif %}

{% block header %}
  <h1>{% block title %}Panel de Control{% endblock %}</h1>

  {% if g.user %}
  {% endif %}
  
{% endblock %}

{% block content %}

  <b>Gestión de Ventas</b><br>
    <a class ="action" href="{{ url_for('config_vs.sp_select', t_act=1) }}" style="margin-right: 10px;">Modificación Precios Pto. de Venta</a>
  <br>
    <a class ="action" href="{{ url_for('config_vs.sp_select', t_act=2) }}" style="margin-right: 10px;">Modificación lógica de productos</a>
  <br>
    <a class ="action" href="{{ url_for('consumption.drink_ing') }}" style="margin-right: 10px;">Alta de tragos</a>
  <br>
    Modificación de tragos
  <br>
    <a class ="action" href="{{ url_for('consumption.add_menu_file') }}" style="margin-right: 10px;">Subir Menú del día</a>
  <br>
    <a class ="action" href="{{ url_for('consumption.add_actvts_file') }}" style="margin-right: 10px;">Subir Actividades</a>
  <br>
    <a class="action" href="{{ url_for('reports.prods_sp') }}" style="margin-right: 10px;"> Listado Precios en Punto de Venta</a>
    <a class ="action" href="{{ url_for('reports.export_list_sp') }}">Descargar</a>
  <br>
    <a class ="action" href="{{ url_for('reports.sales_actual') }}" style="margin-right: 10px;">Ventas del Recorrido Actual</a>
  <br>
    <a class ="action" href="{{ url_for('reports.sales_actual_cancel') }}" style="margin-right: 10px;">Ventas CANCELADAS del Recorrido Actual</a>
  <br>
  <br>
  {% endblock %}
  <br>