{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Modificación de Producto{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="tx_dsp">Seleccione producto a modificar</label>
    <br><br>
    <select name="id_dsp">
      <option value="" style="width: 200px;">Seleccionar producto</option>
      {% for prod in prods %}
        <option name="id_dsp" value="{{prod.id_product}}" style="width: 200px;">{{prod.desc_product}}</option>
      {% endfor %}
    </select>
    <br>
    <input type="submit" value="Modificar Producto">
  </form>
  
  <br>
  <a href="{{ url_for('auth.redirectlink') }}">Inicio</a>
{% endblock %}
