{% if session.get("role") == 1 %}
    {% extends "base.html" %}
{% else %}
    {% extends "base_r.html" %}
{% endif %}

{% block head %}
{% endblock %}

{% block header %}
  <h1>{% block title %}Movimientos (transferencias) entre almacenes{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form action="{{ url_for('stock.enter_transf') }}" method="post" name="transfer">
    Seleccione los productos a transferir, indicando cantidad y depósito destino.<br>
    En caso de existir más de 1 partida por producto, debe seleccionarse la de vencimiento más próximo.
    <br><br>

    <table>
      <thead>
        <tr align="center">
          <th scope="col">Tipo / Producto / Unidad de Medida</th>
          <th scope="col">Depósito Origen</th>
          <th scope="col">Cant. Disponible</th>
          <th scope="col">Cant. a Transferir</th>
          <th scope="col">Depósito Destino</th>
        </tr>
      </thead>
      <tbody>
        {% for prod in aptt %}
        <tr>
            <input type="hidden" name="idprodh" value="{{prod.id_product}}">
            <!-- <input type="hidden" name="id_whf" value="{{prod.id_warehouse}}"> -->
            <td name="tx_prodv" style="width: 250px;">{{prod.producto}}</td>
            <td name="wh_source" style="width: 80px;">{{prod.tx_warehouse}}</td>
            <td name="q_avai" style="width: 80px;">{{prod.q_batch_balance}}</td>
            <td>
              <input type="hidden" name="avai" value="{{prod.q_batch_balance}}">
              <input name="q_trf" value="0" type="number" style="width: 35px;" onblur="validateTrnf(this)" required>
              <div class="mensaje-error" style="color: red;"></div> {# Agregado estilo inicial para visibilidad #}
            </td>
            <td>
            <select name="id_wh">
              <!-- <option value="" style="width: 100px;">Almacén Destino</option> -->
              <option value="" style="width: 100px;">Almacén Destino</option>
              {% for wh in whs %}
                <option value="{{wh.id_warehouse}}">{{wh.tx_warehouse}}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <input type="submit" value="Transferir Productos" onclick="greaterNum()">
  </form>

  <script>
  function validateTrnf(inputElement) {
    // Obtengo el <td> padre del input de cantidad a transferir
    const parentTd = inputElement.parentElement;

    // Obtenemos el input hidden 'avai' que está en el mismo <td>
    const availableInput = parentTd.querySelector('input[name="avai"]');
    const available = availableInput ? parseFloat(availableInput.value) : 0; // Si no lo encuentra, asume 0

    const transf = parseFloat(inputElement.value);
    const mensajeError = parentTd.querySelector('.mensaje-error');

    // Limpiar mensaje de error previo
    mensajeError.textContent = '';

    if (isNaN(transf) || transf < 0) {
        mensajeError.textContent = 'Ingrese una cantidad válida.';
        return false;
    }

    if (transf > available) {
      mensajeError.textContent = 'El valor a transferir es mayor al stock actual';
      return false;
    } else {
      // Si la validación pasa, no hay mensaje de error.
      return true;
    }
  }

  // greaterNum() solo se ejecuta con el onblur.
  function greaterNum() {

  }
  </script>

  <br>
  <a href="{{ url_for('auth.redirectlink') }}">Inicio</a>
{% endblock %}