{% if session.get("role") == 1 %}
    {% extends "base.html" %}
{% else %}
    {% extends "base_r.html" %}
{% endif %}

{% block header %}
  <h1>{% block title %}Selección de Ordenes de Compra abiertas para ingreso de mercaderías{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    Aquí puede seleccionar la Orden de Compra sobre la cuál desea trabajar<br>
    La cantidad de productos indicados en la tabla inferior, puede variar respecto a los que vea en la siguiente 
    pantalla, en función de los anteriores ingresos que haya realizado.
    <br><br>

    <label for="tx_amp">Seleccione Orden de Compra a gestionar</label>
    <table class="requesting">
      <thead>
        <tr align="center">
          <th scope="col">Nro. de Orden de Compra</th>
          <th scope="col">Fecha de Orden de Compra</th>
          <th scope="col">Cant. de Productos</th>
          <th scope="col" style="text-align: center;">Acción</th>
        </tr>
      </thead>
      <tbody>
        {% for oc in ocd %}
        <tr>
          <td name="idord" style="width: 120px;">{{oc.id_order}}</td>
          <td name="dateor" style="width: 110px;">{{oc.dt_order}}</td>
          <td name="qtotalor" style="width: 80px;">{{oc.q}}</td>
          <td name="butt" style="width: 220px;">
            <button name="seloc" type="submit" value="{{oc.id_order}}" formaction="{{ url_for('stock.enter_prods') }}" style="margin-right: 50px;">Seleccionar</button>
            <button name="seloc" type="submit" value="{{oc.id_order}}" formaction="{{ url_for('orders.close_order') }}">Cerrar Orden</button>
          </td>
        {% endfor %}
        </tr>        
      </tbody>
    </table>
  </form>
  <br>
  <a href="{{ url_for('auth.redirectlink') }}">Inicio</a>
{% endblock %}
