{% if session.get("role") == 1 %}
    {% extends "base.html" %}
{% else %}
    {% extends "base_r.html" %}
{% endif %}

{% block header %}
  <h1>{% block title %}Confirmación de Venta e Impresión{% endblock %}</h1>
{% endblock %}

{% block content %}

    <div class="container text-center">
        <h1 class="text-2xl font-extrabold mb-4 text-gray-900">Imprimir Ticket #{{ ticket.numero_ticket }}</h1>
        
        <div class="ticket-info">
            <!-- <h2 class="text-gray-900 font-bold mb-2">Ticket #{{ ticket.numero_ticket }}</h2> -->
            <p><strong>Fecha:</strong> {{ ticket.fecha }}</p>
            
            <p><strong>Pasajero:</strong> {{ ticket.pasajero }}</p>
            <div class="item-list">
                {% for item in ticket.consumos %}
                <li>
                    <span>{{ item.cantidad }}x {{ item.item }}</span>
                    <span>${{ "%.2f"|format(item.precio) }}</span>
                </li>
                {% endfor %}
            </div>
            <div class="flex justify-end font-bold text-gray-900 mt-2 text-lg">
                Total: ${{ "%.2f"|format(ticket.total) }}
            </div>
        </div>
        <br>
        <a id="printLink" href="#" class="hidden"></a>
        <button onclick="preparePrint()" 
                class="bg-blue-600 text-white font-bold py-3 px-6 rounded-full shadow-lg hover:bg-blue-700 transition-all duration-300 transform hover:scale-105 focus:outline-none focus:ring-4 focus:ring-blue-300 w-full">
            <i class="fas fa-print mr-2"></i> Imprimir Ticket</i>
        </button>
    </div>

    <script>
        const ticketData = JSON.parse('{{ ticket|tojson }}');
        
        function preparePrint() {
            // Se crea la sección de ítems dinámicamente usando concatenación de cadenas.
            const itemsSection = ticketData.consumos.map(item => ({
                "name": item.cantidad + 'x ' + item.item,
                "value": item.precio
            }));
        
            const printPayload = {
                "defaultAlign": "left",
                "defaultTextSize": 1,
                "defaultCharactersPerLine": 42,
                "sections": [
                    {
                        "type": "divider",
                        "lines": 2
                    },
                    {
                        "type": "text",
                        "align": "center",
                        "text": 'Buque Ushuaia\n\n'
                    },
                    {
                        "type": "text",
                        "text": 'Nro. de ticket: ' + ticketData.numero_ticket + '\nFecha: ' + ticketData.fecha + '\n\nDescripción de productos'
                    },
                    {
                        "type": "divider",
                        "lines": 2
                    },
                    {
                        "type": "items",
                        "items": itemsSection
                    },
                    {
                        "type": "divider",
                        "lines": 2
                    },
                    {
                        "type": "items",
                        "textSize": 2,
                        "items": [
                            {
                                "name": 'TOTAL: ',
                                "value": ticketData.total.toFixed(2)
                            }
                        ]
                    },
                    {
                        "type": "divider",
                        "lines": 2
                    },
                    {
                        "type": "text",
                        "align": "center",
                        "text": "- - - - - - - - - - - - - - - - - - - -" + '\n' + ticketData.pasajero +'\n\n\n'
                    },
                    {
                        "type": "divider",
                        "lines": 5
                    },
                    {
                        "type": "cut"
                    }
                ]
            };
        
            const encodedJson = encodeURIComponent(JSON.stringify(printPayload));
            const url = `IAMPrintReceipt://?ticketJSON=${encodedJson}`;
            
            const printLink = document.getElementById('printLink');
            printLink.href = url;
            printLink.click();
        }
    </script>

    <br>
    En caso de presentarse inconvenientes con la impresión, informarle al pasajero que el cargo ya fue realizado correctamente y hacer click para volver a la pantalla principal.<br><br>

  <a href="{{ url_for('auth.redirectlink') }}">Inicio</a>
{% endblock %}